<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <!-- header img -->
    <!-- <img id="header-img" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/product-landing-page-logo.png" alt="original trombones logo"> -->
    <!--HTML header tag starts here-->
    <header>
      <div class="navigation">
        <div id="logo-div">
          <img
            src="https://cdn.freecodecamp.org/testable-projects-fcc/images/product-landing-page-logo.png"
            alt=""
            srcset=""
          />
        </div>
        <!-- Make these smooth scroll to anchor links -->
        <div class="nav-item">Features</div>
        <div class="nav-item">How It Works</div>
        <div class="nav-item">Pricing</div>
      </div>
    </header>
    <div class="container">
        <div id="title">
            <h1>Handcrafted, home-made masterpieces</h1>
            <form action="" id="email-form">
                <label for="email"></label>
                <input type="email" name="email" id="email-input" placeholder="Enter your email address">
            </form>
        </div>
        <section id="features">
            <div class="grid">
                <div class="icon-div">icon goes here</div>
                <div class="feature">feature desc goes here</div>
            </div>
            <div class="grid">    
                <div class="icon-div">icon go here</div>
                <div class="feature">icon go here</div>
            </div>
            <div class="grid">
                <div class="icon-div">icon go here</div>
                <div class="feature">icon go here</div>
            </div>
        </section>



    </div>
    <script src="" async defer></script>
  </body>
</html>
